 <div class="container">
<h3 class="my-5">投稿一覧表示</h3>

<!--<div>
  <% if customer_signed_in? %>
    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
    <%= "#{current_customer.first_name}さんはログイン中です"%>
  <% else %>
    <%= link_to 'ユーザー新規登録', new_customer_registration_path %>
    <%= link_to 'ログイン', new_customer_session_path %>
  <% end %>
</div>

<div>
  <% if customer_signed_in? && current_customer.admin? %>
    <%= link_to '管理者用:投稿ページ', new_admin_article_path %>
  <% end %>
</div>
-->

  
    <div class="dai">
    <% @articles.each do |article| %>
       
        <tr>タイトル : </tr>
        <div class="sabudai">
        <td><%= article.title %></td>
        </div>
      
        <tr>内容 : </tr>
        <div class="sabudai">
        
        <td><%= article.body %></td>
        </div>
      
        <tr>投稿場所 : </tr>
          <div class="sabudai">
        
        <td><%= article.address %></td>
        </div>
          </br>
    <% end %>
</div>
