
 <span>現在ログイン中のユーザー：<%= current_customer.last_name %> さん</span>
    <p><%= link_to "投稿一覧", articles_path(@articles), class:"btn btn-success ml-5"%></p>
    
   
        <h2 style="text-align:center; color:white; background-color:black;">投稿</h2>
            <%= form_with model: @article, local: true do |f|  %>
            <% if @article.errors.any? %>
            <div class = "alert">
             <ul>
             <% @article.errors.full_messages.each do |message| %>
             <li><%= message %></li>
             <% end %>
             </ul>
            </div>
            <% end %>

            <div class="form-group col-5">
                <label for="articles_title">タイトル</label>
                <%= f.text_field :title , class: "form-control article_title"%>
              </div>
              
              <div class="form-group col-10">
                <label for ="articles_opinion">内容</label>
                  <%= f.text_area :body , class: "form-control article_body"%>
              </div>
              
              <div class="form-group col-10">
                <%= f.label :address,"住所または名称" %>
                <%= f.text_field :address, :value =>"", :placeholder =>"ここに場所を入力",id: :address %>
               
                <p></p>
                <p>『住所又は名称』を入力し、下の検索ボタンを押すと経度緯度は自動入力されます。</p>
                <%= f.label :lat,"緯度" %>
                <%= f.text_field :lat, :value =>"", id: :lat %>
             　　 <%= f.label :lng,"経度" %>
                <%= f.text_field :lng, :value =>"", id: :lng %>
   　           </div>
              
<h2>検索Map</h2>

<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整場所を入力してください。<p>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>

let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,

  });
}


let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
       
        if (aft == true){
            marker.setMap(null);
        }

        
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true
        });

        
        aft = true

        
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        
        google.maps.event.addListener( marker, 'dragend', function(ev){
            
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
              
　　　　　　 <div class="form-group">
                <%= f.submit "投稿する", class:  "btn btn-success"%>
              </div>
　　　　　　<% end %>