
     <span>現在ログイン中のユーザー：<%= current_customer.last_name %> さん</span>
    <p><%= link_to "投稿一覧", articles_path(@articles), class:"btn btn-success ml-5"%></p>
  
      <h2 style="text-align:center; color:white; background-color:black;">投稿</h2>
            <%= form_with model: Article.new, local: true do |f|  %>
              <div class="form-group col-5">
                <label for="articles_title">タイトル</label>
                <%= f.text_field :title , class: "form-control article_title"%>
              </div>
              
              <div class="form-group col-10">
                <label for ="articles_opinion">内容</label>
                  <%= f.text_area :body , class: "form-control article_body"%>
              </div>
              
   
　<div class="tizu">地図
　<div style="text-align: center;">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
  <script>
    function makeMap(lat, lng) {    
    var canvas = document.getElementById('map-canvas');
      var latlng = new google.maps.LatLng(lat, lng);
　  var mapOptions = {  // マップのオプション
        zoom: 17,
        center: latlng,
    };
    var map = new google.maps.Map(canvas, mapOptions); //作成
    return map;
  }
   window.onload = function(){
      makeMap(35.446806, 139.636163); 
  };
  </script>
   <style>
   #map-canvas {
     width: 600px;
     height: 400px;
     text-align: center;
   }
  </style>
  <div id="map-canvas" width="600px" height="400px">ここにマップが表示されます</div>
  </div>
  </div>
  <div class="form-group col-8">
   <%= f.label :address, '場所' %>
   <%= f.text_field :address, class: 'form-control' %>
 </div>
              
              <div class="form-group">
                <%= f.submit "投稿する", class:  "btn btn-success"%>
              </div>
            <% end %>
 
     </div>
    <div class="col-md-8 offset-md-1">

    </div>
  </div>
</div>