<h2 style="text-align:center; color:white; background-color:black;">投稿へコメント</h2>
<br>
<td><%= link_to '一覧へ戻る',articles_path(@article),class:  "btn btn-success" %></td>

<%= form_for(@article, url: article_path(@article)) do |f| %>
        <div class="dai">
            <span class="sabudai">タイトル</br>
             <span class="sabutou"><%= @article.title %></span>
            </span>
            
            <span class="sabudai">内容</br>
             <span class="sabutou"><%= @article.body %></span>
            </span>
            
            <span class="sabudai">場所</br>
             <span class="sabutou"><%= @article.address %></span>
            </span>
            
          <% if @article.customer == current_customer %>  
            <td><%= link_to '投稿編集',edit_article_path(@article) %></td>
            <td> | </td>
            <td><%= link_to '投稿削除',article_path(@article), method: :delete,data: {confirm:'削除してもいいですか？'}%></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </div>





<div id='map'></div>

<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
  let map
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @article.lat %>, lng: <%= @article.lng %>};
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,
　　　　　　　　　
      mapTypeControl: false,  
      streetViewControl: false
    
    });

    var contentString = '住所：<%= @article.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
  
    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
<% end %>

<h4 style="text-align:center; color:white; background-color:orange;">コメント</h4>
     <div class="dai-come">
          <%= form_with model:[@article, @comment], local: true do |f| %>
          <%= f.text_area :comment_content %>
          <%= f.submit "コメント" %>
　　　    <% end %>
　　 </div>
 <h4 style="text-align:center; color:white; background-color:green;">コメント一覧</h4>
　　　  <div class="dai-come">
            <% @comments.each do |comment| %>
                <li class="comments">
                   <%= comment.comment_content %>
                  <%= link_to 'コメントを削除する', article_comment_path(@article.id,comment.id), confirm: 'Are you sure?', method: :delete %>
               </li>
             <% end %>
        </div>
     <div class="dai-come">
 <% if @article.liked?(current_customer) %>
    <%= link_to article_like_path(@article.id), method: :delete do %>
        <span style="color:red;">❤︎(いいね)</span>
    <% end %>
<% else %>
    <%= link_to article_likes_path(@article.id), method: :post do %>
        <span>❤︎(いいね)</span>
    <% end %>
<% end %>    
</div>
